*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    text-decoration: none;
    font-family: 得意黑,微软雅黑,sans-serif;
}
/* 顶部固定导航 */
.nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(56,72,113);
    text-align: center;
    z-index: 1;
}
.nav span{
    margin-right: 100px;
    width: 100px;
    color: white;
    font: 30px/50px 得意黑,sans-serif;
    transition: all 300ms;
}
.nav ul{
    display: inline-block;
    text-align: center;
    list-style: none;
}
.nav li{
    display: inline-block;
}
.nav .nav1{
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
    color: white;
    font: 20px/50px 得意黑,sans-serif;
    transition: all 300ms;
}
.nav .nav1:hover{
    width: 120px;
    height: 60px;
    color: rgb(56,72,113);
    background-color: white;
}
/* 回到顶部 */
.gotop{
    position: fixed;
    right: 30px;
    bottom: 100px;
    width: 70px;
    height: 50px;
    text-align: center;
    background-color: rgb(134,148,178);
    z-index: 1;
}
.gotop a{
    display: inline-block;
    width: 70px;
    height: 50px;
    font: 20px/50px 得意黑,sans-serif;
    color: white;
}
.gotop:hover a{
    background-color: rgb(56, 72, 113);
}
/* 联系我-固定 */
.aboutme{
    position: fixed;
    right: 30px;
    bottom: 180px;
    width: 70px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: rgb(134,148,178);
    font: 20px/50px 得意黑,sans-serif;
    cursor: pointer;
    z-index: 1;
}
.aboutme:hover{
    background-color: rgb(56, 72, 113);
}
.aboutme .me{
    position: absolute;
    right: 80px;
    top: -150px;
    width: 250px;
    display: none;
}
.aboutme:hover .me{
    display: block;
}
/* 更多角色展示 */
.morerole{
    margin-top: 50px;
    padding-top: 20px;
    width: 1200px;
    /* height: 2500px; */
    background-color: #f8f8f8;
}
.morerole ul{
    display: block;
    position: relative;
    list-style: none;
    text-align: center;
}
.morerole li{
    position: relative;
    display: block;
    margin-left: 100px;
    margin-right: 10px;
    text-align: right;
}
.morerole li img{
    width: 800px;
    /* border-bottom: 10px solid rgb(96, 116, 162); */
    border-bottom: 10px solid rgba(29,39,87,0.1);
    margin-bottom: 50px;
}
.morerole h1{
    margin-left: 50px;
    font: normal normal 40px/2 得意黑;
    margin-bottom: 30px;
}
/* 跳转各个城市的角色展示 */
.city{
    margin-top: 50px;
    padding-top: 50px;
    width: 1200px;
    height: 200px;
    background-color: #f8f8f8;
    text-decoration: none;
}
.city h1{
    display: inline;
    margin-left: 50px;
    font: normal normal 40px/2 得意黑;
    margin-bottom: 30px;
}
.city ul{
    display: inline;
}
.city li{
    display: inline;
    padding: 20px 50px 20px 50px;
    list-style: none;
}
.city a{
    display: inline-block;
    width: 120px;
    height: 70px;
    font: 30px/70px 得意黑;
    color: rgb(96, 116, 162);
    text-align: center;
    background-color: #fff;
}
.city a:hover{
    color:#fff;
    background-color: rgb(56, 72, 113);
}

/* 当前神系列展示 */
.morerole h3{
    margin-top: 50px;
    padding-left: 50px;
    border-bottom: 10px solid rgb(96, 116, 162);
    /* border-bottom: 10px solid rgba(29,39,87,0.1); */
    text-align: left;
    font: normal normal 35px/2 得意黑;
    /* color: rgba(29,39,87,0.2); */
}
.morerole h4{
    position: absolute;
    top: 150px;
    left: 100px;
    text-align: left;
    font: normal normal 50px/2 得意黑;
    color: #1D2757;
}
.morerole h5{
    position: absolute;
    top: 120px;
    left: 400px;
    text-align: left;
    font: normal normal 80px/2 得意黑;
    color: rgba(29,39,87,0.2);
}
.morerole h6{
    position: absolute;
    width: 350px;
    top: 250px;
    left: 100px;
    text-align: left;
    font: normal normal 30px 得意黑;
    color: rgba(56, 72, 113,0.8);
}
.morerole li p{
    width: 420px;
    height: 200px;
    position: absolute;
    top: 340px;
    left: 50px;
    font-size: 20px;
    line-height: 1.5em;
    text-align: left;
    color: rgba(51,60,66,0.5);
    text-indent: 2em;
}

/* 末尾 */
.last{
    margin-top: 50px;
}
.last h2{
    margin-left: 100px;
    font: normal normal 40px/2 得意黑,sans-serif;
}
.last p{
    margin: 20px 100px;
    font-size: 24px;
    text-indent: 2em;
}
.web{
    height: 60px;
    margin-top: 50px;
    text-align: center;
}