*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    text-decoration: none;
    font-family: 得意黑,微软雅黑,sans-serif;
}
/* 顶部固定导航 */
.nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(56,72,113);
    text-align: center;
    z-index: 1;
}
.nav span{
    margin-right: 100px;
    width: 100px;
    color: white;
    font: 30px/50px 得意黑,sans-serif;
    transition: all 300ms;
}
.nav ul{
    display: inline-block;
    text-align: center;
    list-style: none;
}
.nav li{
    display: inline-block;
}
.nav .nav1{
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
    color: white;
    font: 20px/50px 得意黑,sans-serif;
    transition: all 300ms;
}
.nav .nav1:hover{
    width: 120px;
    height: 60px;
    color: rgb(56,72,113);
    background-color: white;
}
/* 回到顶部 */
.gotop{
    position: fixed;
    right: 30px;
    bottom: 100px;
    width: 70px;
    height: 50px;
    text-align: center;
    background-color: rgb(134,148,178);
    z-index: 1;
}
.gotop a{
    display: inline-block;
    width: 70px;
    height: 50px;
    font: 20px/50px 得意黑,sans-serif;
    color: white;
}
.gotop:hover a{
    background-color: rgb(56, 72, 113);
}
/* 联系我-固定 */
.aboutme{
    position: fixed;
    right: 30px;
    bottom: 180px;
    width: 70px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: rgb(134,148,178);
    font: 20px/50px 得意黑,sans-serif;
    cursor: pointer;
    z-index: 1;
}
.aboutme:hover{
    background-color: rgb(56, 72, 113);
}
.aboutme .me{
    position: absolute;
    right: 80px;
    top: -150px;
    width: 250px;
    display: none;
}
.aboutme:hover .me{
    display: block;
}
/* 末尾 */
.last{
    margin-top: 50px;
}
.last h2{
    margin-left: 100px;
    font: normal normal 40px/2 得意黑,sans-serif;
}
.last p{
    margin: 20px 100px;
    font-size: 24px;
    text-indent: 2em;
}
.web{
    height: 60px;
    margin-top: 50px;
    text-align: center;
}
/* 主要内容 */
/* 版心居中 */
.main2{
    margin: 0 auto;
    width: 1200px;
    /* height: 9150px; */
    background-color: #f8f8f8;
}
/* 游戏资讯 */
.role{
    margin-top: 30px;
    padding-top: 20px;
    border-top: 10px solid rgb(96, 116, 162);
    position: relative;
}
.role h2{
    margin-left: 50px;
    font: normal normal 40px/2 得意黑,sans-serif;
}
.role ul li{
    list-style: none;
    text-align: center;
}
.role img{
    margin: 30px auto;
    width: 1000px;
}