/* 网站标题字体isSeymour（只能英文） */
@font-face {
    font-family: "Roboto-BoldItalic";
    src: url("./Roboto-BoldItalic.ttf");
}

/* 代码字体 */
@font-face {
    font-family: "JetBrainsMono-Regular";
    src: url("./JetBrainsMono-Regular.ttf");
}

/* 得意黑 */
/* @font-face {
    font-family: "SmileySans-Oblique";
    src: url("./SmileySans-Oblique.ttf.woff2");
} */
